voila
fastai>=2
pillow<7
packaging
ipywidgets==7.5.1

[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/saibai1988/app1/HEAD?urlpath=%2Fvoila%2Frender%2Fappdollar1.ipynb)
